<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <%= "Season ##{@season.number}" %>
      </h1>
      <h2 class="subtitle">
        <%= @season.league.name %>
      </h2>
    </div>
  </div>
  <% if policy(@season.league).user_is_admin_on_league? %>
    <div class="hero-foot">
      <div class="container">
        <nav class="navbar">
          <div class="navbar-start">
            <%= button_to seasons_path, class: 'button is-inverted is-fullwidth', form_class: 'navbar-item' do %>
              <span class="icon">
                <i class="fas fa-pen"></i>
              </span>
              <span>Create new game</span>
            <% end %>
          </div>
          <div class="navbar-end">
            <span class="navbar-item">
              <%= link_to edit_league_path(@season.league), class: 'button is-inverted is-fullwidth' do %>
                <span class="icon">
                  <i class="fas fa-pen"></i>
                </span>
                <span>Edit League</span>
              <% end %>
            </span>
            <%= button_to @league, class: 'button is-danger is-inverted is-fullwidth delete-season', form_class: 'navbar-item delete_season', method: :delete do %>
              <span class="icon">
                <i class="fas fa-times-circle"></i>
              </span>
              <span>Delete Season</span>
            <% end %>
          </div>
        </nav>
      </div>
    </div>
  <% end %>
</section>
