<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <%= "Season ##{@season.number} - #{@season.active_and_complete_text}" %>
      </h1>
      <h2 class="subtitle">
        <%= @season.league.name %>
      </h2>
    </div>
  </div>
  <% if policy(@season.league).user_is_admin_on_league? %>
    <div class="hero-foot">
      <div class="container">
        <nav class="navbar">
          <div class="navbar-start">
            <span class="navbar-item">
              <%= link_to new_game_path, class: 'button is-inverted is-fullwidth' do %>
                <span class="icon">
                  <i class="fas fa-pen"></i>
                </span>
                <span>Create New Game</span>
              <% end %>
            </span>
          </div>
          <div class="navbar-end">
            <%= @season.complete_or_uncomplete_button %>
            <%= @season.activate_or_deactivate_button %>
            <%= button_to @season, class: 'button is-danger is-inverted is-fullwidth delete-season', form_class: 'navbar-item delete_season', method: :delete do %>
              <span class="icon">
                <i class="fas fa-times-circle"></i>
              </span>
              <span>Delete Season</span>
            <% end %>
          </div>
        </nav>
      </div>
    </div>
  <% end %>
</section>

<div class="container">
  <div class="columns">
    <div class="column is-one-half is-10-mobile is-offset-1-mobile">
      standings will go here
    </div>
    <div class="column is-one-half is-10-mobile is-offset-1-mobile">
      games will go here
    </div>
  </div>
</div>
