<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Dashboard!
      </h1>
      <h2 class="subtitle">
        Something something subtitle
      </h2>
    </div>
  </div>

  <div class="hero-foot">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-start">
          <%= link_to "Create New League", new_league_path, class: 'navbar-item' %>
        </div>
      </nav>
    </div>
  </div>
</section>

<div class="container">
  <div class="columns">
    <div class="column is-one-half is-10-mobile is-offset-1-mobile">
      <div class="box">
        <h1 class="title is-3">Leagues</h1>
        <div class="table-container">
          <table class="table is-striped is-narrow is-hoverable is-fullwidth table-container">
            <thead>
              <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <% if @leagues.empty? %>
                <tr>
                  <td colspan="3">
                    You have no leagues, maybe try creating one first?
                  </td>
                </tr>
              <% else %>
                <% @leagues.each do |league| %>
                <tr>
                  <td><%= league.name %></td>
                  <td><%= league.location %></td>
                  <td>Admin</td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>


    </div>
    <div class="column is-one-half is-10-mobile is-offset-1-mobile">
      <div class="box">
        <h1 class="title is-3">Recent or Upcoming Games</h1>
        <div class="table-container">
          <table class="table is-striped is-narrow is-hoverable is-fullwidth table-container">
            <thead>
              <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <% if @leagues.empty? %>
                <tr>
                  <td colspan="3">
                    You have no leagues.
                  </td>
                </tr>
              <% else %>
                <% @leagues.each do |league| %>
                <tr>
                  <td><%= league.name %></td>
                  <td><%= league.location %></td>
                  <td>Admin</td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
</div>
