<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <%= @league.name %>
      </h1>
      <h2 class="subtitle">
        <%= @league.location %>
      </h2>
    </div>
  </div>

  <% if policy(@league).user_is_admin_on_league? %>
    <div class="hero-foot">
      <div class="container">
        <nav class="navbar">
          <div class="navbar-start">
            <%= button_to seasons_path, class: 'button is-inverted is-fullwidth', form_class: 'navbar-item' do %>
              <span class="icon">
                <i class="fas fa-pen"></i>
              </span>
              <span>Create new season</span>
            <% end %>
          </div>
          <div class="navbar-end">
            <span class="navbar-item">
              <%= link_to edit_league_path(@league), class: 'button is-inverted is-fullwidth' do %>
                <span class="icon">
                  <i class="fas fa-pen"></i>
                </span>
                <span>Edit League</span>
              <% end %>
            </span>
            <%= button_to @league, class: 'button is-danger is-inverted is-fullwidth', form_class: 'navbar-item', method: :delete do %>
              <span class="icon">
                <i class="fas fa-times-circle"></i>
              </span>
              <span>Delete League</span>
            <% end %>
          </div>
        </nav>
      </div>
    </div>
  <% end %>
</section>

<div class="container">
  <div class="columns">
    <div class="column is-one-half is-10-mobile is-offset-1-mobile">
      <%= render partial: "shared/seasons_index_table" %>
    </div>
    <div class="column is-one-half is-10-mobile is-offset-1-mobile">
      <%= render partial: "shared/seasons_index_table" %>
    </div>
  </div>
</div>
